<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p %t - (%F:%L) %m%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:\\StewardBank\\logs\\SbzPostilionAPI.log"/>
		<!--param name="File" value="/Users/artwelm/RestPostilionAPI/logs/SbzPostilionAPI.log"/-->
		<param name="MaxFileSize" value="20000KB" />
		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>
	
	<root>
		<priority value="info"></priority>
		<appender-ref ref="file" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>